################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MP7/.vs/MP7
/.gitignore
/.gitignore
/MP7/MP7.vcxproj.user
/MP7/MP7.vcxproj.filters
/MP7/MP7.vcxproj
/MP7/MP7.sln
/CPS271Final/x64/Debug
/CPS271Final/.vs/CPS271Final
/CPS271Final/CPS271Final.vcxproj.user
/CPS271Final/CPS271Final.vcxproj.filters
/CPS271Final/CPS271Final.vcxproj
/CPS271Final/CPS271Final.sln
